
body {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #353535;
}

.container {
  margin: 30px 10%;
  padding: 20px;
  color: whitesmoke;
  background-image: linear-gradient(45deg, #465f5a, #2c3a37)
}

h1 {
  font-size: 80px;
}

p {
font-size: 20px;
}

button {
  margin-top: 30px;
  margin: 10px;
  border: none;
  padding: 10px;
  background-color: #616161;
  color: whitesmoke;
  font-size: 20px;
}

input {
  text-align: center;
  margin: 5px;
  color: #616161;
  background-color: whitesmoke;
  font-size: 25px;
}
#changePosition {
  width: 50px;
}

ul {
  list-style-type: none;
  margin: 50px 250px;
  padding: 0;
}

ul li {
  position: relative;
  font-size: 20px;
}

ul li.checked {
    opacity: 0.3;
    text-decoration: line-through;
  }

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    top: 10%;
    left: 1vw;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    height: 15px;
    width: 5px;
  }

  .fas {
    color: #fff;
    background-color: transparent;
    border: none;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 1vw;
  }

  @media (max-width:1200px) {
    .container {
      margin: 20px 50px;
    }
    h1 {
      margin: 10px;
    }
    p {
      margin: 5px;
    }
    div {
      margin: 40px;
    }
    .visibleBtn {
      display: block;
      font-size: 20px;
      margin: 20px auto;
    }
    .input {
      display: block;
      font-size: 20px;
      margin: 10px auto;
    }
    ul {
      margin: 50px;
      font-size: 2em;
    }
    ul li.checked::before {
    left: 20px;
    }
    .fas {
      top: 5px;
      right: 20px;
      font-size: 1em;
    }
  }
  @media (max-width:800px) {
    h1 {
      font-size: 60px;
    }
    p{
      font-size: 15px;
    }
    .visibleBtn {
      font-size: 20px;
    }
    .input {
      font-size: 20px;
    } 
    ul {
      font-size: 30px;
      margin: 5px;
    }
    ul li.checked::before {
      top: 0px;
      height: 30px;
      width: 10px;
    }
    .fas{
      top: 10px;
      font-size: 25px;
    }
  }