:root {
  --dark: #5e4747;
  --normal: rgb(90, 78, 78);
  --light: #b7a5a5;
  --background: #dfd5d5;
  --button: white;
}

* {
  box-sizing: border-box;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--dark);
  font-size: 20px;
  background-color: var(--background);
}

h1 {
  font-size: 80px;
  margin: 50px auto 0px;
}

button {
  margin: 10px;
  border: none;
  padding: 10px;
  color: var(--button);
  background-color: var(--dark);
}

input {
  text-align: center;
  margin: 5px;
  color: var(--normal);
  background-color: var(--button);
  border: none;
}
#changePosition {
  width: 50px;
}

ul {
  list-style-type: none;
  margin: 50px 250px;
  padding: 0;
}

ul li {
  color: var(--normal);
  position: relative;
  border: 1px groove rgba(78, 78, 78, 0.055);
}

ul li.checked {
  background-color: var(--normal);
  color: black;
  text-decoration: line-through;
  opacity: 0.6;
}

ul li.checked::before {
  content: "";
  position: absolute;
  border-color: white;
  border-style: solid;
  top: 10%;
  margin: 0 -60px;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  height: 15px;
  width: 5px;
}
.fas {
  color: white;
  background-color: transparent;
  border: none;
  height: 25px;
  position: absolute;
  top: 5px;
  margin: 0 60px;
  font-size: 18px;
}

@media (max-width: 1200px) {
  * {
    font-size: 15px;
  }
  h1 {
    margin: 10px;
  }
  p {
    margin: 5px;
  }
  .visibleBtn {
    display: block;
    margin: 10px auto;
    padding: 0 5px;
  }
  .input {
    display: block;
    margin: 2px auto;
  }
  ul {
    margin: 50px;
  }
  ul li.checked::before {
    margin: 0 -30px;
  }
  .fas {
    font-size: 15px;
    margin: 0 20px;
  }
}

@media screen and (max-width: 800px) {
  * {
    font-size: 10px;
  }
  h1 {
    font-size: 30px;
  }
  .visibleBtn {
    margin: 10px auto;
  }

  ul {
    font-size: 15px;
    margin: 30px 0;
  }
  ul li.checked::before {
    width: 2px;
    height: 8px;
    margin: 0 -30px;
  }
  .fas {
    font-size: 8px;
  }
}
